@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

ul,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/* ........................................... */
body {
	background: rgb(255, 255, 255);
	font-family: "Raleway";
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
}

.wrapper {
	overflow: hidden;
	min-height: 100vh;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}


/* --------кнопки------------------ */
.button {
	font-family: "Open Sans";
	color: #FFFFFF;
	font-weight: 600;
	line-height: 25px;
	font-size: 18px;
	text-transform: capitalize;
	text-align: center;
	max-width: 270px;
	padding: 20px 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
}

.button--white {
	border: 2px solid #fff;
}

.button--white:hover {
	color: #EC7979;
	border: 2px solid #EC7979;
}

.button--white:active {
	background-color: #AB4949;
	color: #fff;
	border: 2px solid #AB4949;
}


.button--red {
	background-color: #EC7979;
}

.button--red:hover {
	background: #AB4949;
}

.button--red:active {
	background-color: #EC7979;
	box-shadow: inset 0px 0px 10px #AB4949;
}



/* ------------------------header-block ---------------------------*/
.header-block {
	text-align: center;
}

.header-block__title {
	font-size: 36px;
	line-height: 42px;
	padding: 40px 0;
	text-transform: uppercase;
	color: #000000;
	position: relative;
	margin: 0 0 40px 0;
}

.header-block__title::after {
	content: '';
	width: 170px;
	height: 1px;
	background-color: #EC7979;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
}

.header-block__subtitle {
	color: #86878B;
}

.header-block__title--white,
.header-block__subtitle--white {
	color: #fff;
}

.header-block__title--white::after {
	background-color: #fff;
}

/* -----------header--------------------------- */
.header {
	background-color: #000;
	padding: 23px 0;
}

.header__inner {
	display: flex;
	justify-content: space-between;
}

.header__logo {
	display: flex;
	padding: 0 30px 0 0;
}

.header__logo img {
	align-self: center;

	max-width: 87px;
	max-height: 31px;
}

.header__menu {
	display: flex;
}

.menu__list {
	display: flex;
	justify-content: space-between;
	align-self: center;
}

.menu__item {
	color: #fff;
	text-transform: capitalize;
	font-family: "Open Sans";
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
}

.menu__link {
	padding: 30px 30px 29.5px;
	transition: all 0.3s;
	color: #fff;
}

.menu__link:hover {
	font-weight: 700;
	background-color: #EC7979;
}

.menu__link:active {
	font-weight: 700;
	background-color: #AB4949;
}


/* -----------banner-------------------------- */
.banner {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../pic/banner_back.jpg") center/cover;
	padding: 207px 0 185px 0;
}

.banner__inner {
	display: flex;
}

.banner__info {
	max-width: 670px;
	padding: 0 30px 0 0;
}

.banner__logo {
	margin: 0 0 70px 0;
}

.banner__logo img {
	max-width: 170px;
	max-height: 55px;
}

.banner__header-block {
	text-align: left;
	margin: 0 0 42px 0;
}

.banner__header-block>.header-block__title--white::after {
	left: 0;
	transform: none;
}

.banner__header-block>.header-block__title {
	font-weight: 500;
	font-size: 48px;
	line-height: 56px;
}

.banner__form {
	font-family: 'Open Sans';
}

.form-banner__inputs {
	background-color: #fff;
	border-radius: 10px 10px 0 0;
	padding: 0 50px 75px 50px;
}

.form-banner__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	text-align: center;
	text-transform: uppercase;
	color: rgba(51, 51, 51, 1);
	padding: 33px 0;
	margin: 0 0 45px 0;
}

.form-banner__title span {
	color: #EC7979;
}

.input {
	display: block;
	font-size: 14px;
	border-bottom: 1px solid #BDBDBD;
	padding: 0 0 15px 0;
	width: 100%;
}

.banner__form .input:not(:last-child) {
	margin: 0 0 33px 0;
}

.form-banner__inp-btn {
	max-width: none;
	width: 100%;
	border-radius: 0 0 10px 10px;
	font-weight: 600;
	font-size: 15px;
	line-height: 20px;
}

/* ------socials------------------------------- */
.socials {
	padding: 18px 0 0 0;
	background-color: #F8EFEF;
}

.socials__inner {
	display: flex;
}

.socials__info {
	margin: 0 0 30px 0;
}

.socials__title {
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	text-transform: capitalize;
	margin: 0 0 25px 0;
}

.socials__text {
	color: #86878B;
}

.socials__images {
	align-self: center;
	display: flex;
	justify-content: space-between;
	margin: 0 -15px;
}

.socials__pic {
	padding: 0 15px;
}

/* ......................awesome ...................*/
.awesome {
	margin: 0 0 58px 0;
}

.awesome__header-block {
	margin: 0 0 71px 0;
}

.awesome__items {
	display: flex;
	text-align: center;
	margin: 0 -15px;
}

.items__item {
	padding: 0 15px;
}

.item__image img {
	width: 65px;
}

.item__image {
	border: 2px solid #EC7979;
	border-radius: 50%;
	width: 65px;
	height: 65px;
	margin: 0 auto 39px;
}

.item__image--lamp {
	background: url("../pic/lamp.png") center/70% no-repeat;
}

.item__image--lightning {
	background: url("../pic/Vector.png") center/50% no-repeat;
}

.item__image--keyboard {
	background: url("../pic/Vector-1.png") center/70% no-repeat;
}

.item__title {
	font-size: 24px;
	line-height: 33px;
	text-transform: capitalize;
	margin: 0 0 8px 0;
}

/* ....................tabs....................... */
.tabs {
	font-family: "Open Sans";
	margin: 100px 0 50px 0;
}

.tabs__wrapper {}

.tabs__item {
	display: none;
}

.tabs__label {
	padding: 10.5px 83px;
	border-radius: 5px 5px 0px 0px;
	background-color: rgb(255, 255, 255);

	/* чтоб убрать отступ между label*/
	margin: 0 -2px;
	border-bottom: 1px solid #C6CBCD;
	text-transform: uppercase;
	cursor: pointer;
}

.tabs__label1 {
	margin: 0 -2px 0 0;
}


.tabs__cards {
	margin: 11px 0 0 0;
	border: 1px solid #C6CBCD;
	background-color: rgb(255, 255, 255);
}

#tabs__item1:checked~.tabs__cards .tabs__content1,
#tabs__item2:checked~.tabs__cards .tabs__content2,
#tabs__item3:checked~.tabs__cards .tabs__content3 {
	display: block;
}

#tabs__item1:checked~.tabs__label1,
#tabs__item2:checked~.tabs__label2,
#tabs__item3:checked~.tabs__label3 {
	border: 1px solid #C6CBCD;
	border-bottom: 1px solid rgb(255, 255, 255);
}

.tabs__content {
	display: none;
}

.cards__row {
	display: flex;
}

.cards__info-col {
	padding: 55px 30px 55px 100px;
}

.cards__pic-col img {
	width: 470px;
	max-height: 500px;
	object-fit: cover;
	/* max-width: 470px;
		max-height: 500px; */
}


.cards__title {
	font-weight: 700;
	font-size: 30px;
	line-height: 41px;
	margin: 0 0 48px 0;
}

.cards__text {
	margin: 0 0 27px 0;
	font-family: "Raleway";
}

.cards__text p:not(:last-child) {
	margin: 0 0 20px 0;
}

/* -------------pricing ------------------------------*/
.pricing {
	padding: 50px 0;
	background: #F5F5F5;
	margin: 0 0 50px 0;
}

.pricing__header-block {
	margin: 0 0 80px 0;
}

.optios__inner {
	display: flex;
	justify-content: space-between;
	margin: 0 -15px;
}

.options__box {
	flex: 0 1 33.333%;
	padding: 0 15px;
	transition: all 0.3s;
}

.options__box:hover {
	filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
	transform: translateY(-20px);
	/* position: relative;
	bottom: 25px; */
}

.options__box-item {
	text-align: center;
	text-transform: capitalize;
	background-color: rgb(255, 255, 255);
	color: #86878B;
	padding: 15px 15px 14px;
	border: 2px solid #F5F5F5;
}

.options__box-item--black {
	background: #333333;
	border: 2px solid #F5F5F5;
	color: #f5f5f5;
}

.options__box-item--black:nth-child(1),
.options__box-item--black:nth-child(2) {
	font-weight: 700;
}

.options__box-item--black:nth-child(1) {
	font-size: 24px;
	line-height: 33px;
	font-family: 'Open Sans';
}

.options__box-item--black:nth-child(2) {
	font-size: 36px;
	line-height: 42px;
	padding: 30px 0;
}

.options__box-item--black:nth-child(3) {
	color: rgba(255, 255, 255, 0.5);
}


/* ----------------customers-------------------------------------- */
.customers {
	margin: 0 0 65px 0;
}

.customers__header-block {
	margin: 0 0 80px 0;
}

.comments__inner {
	display: flex;
	justify-content: space-between;
	margin: 0 -15px;
}

.comments__item {
	padding: 0 15px;
	flex: 0 1 33.333%;
}

.comments__text {
	text-align: center;
	padding: 37px 15px;
	color: #86878B;
	background: #E2E2E2;
	border-radius: 10px;
	margin: 0 0 65px;
	position: relative;
}

.comments__text::after {
	content: "";
	position: absolute;
	bottom: -23px;
	left: 70px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 25px solid #E2E2E2;
}

.comments__profile {
	display: flex;
}

.profile {}

.profile__img {
	flex: 0 0 70px;

	overflow: hidden;
}

.profile__img img {
	border-radius: 50%;
	object-fit: cover;
	width: 100%;
}

.profile__info {
	padding: 0 0 0 30px;
}

.profile__name {
	font-family: 'Open Sans';
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	text-transform: capitalize;
	margin: 0 0 15px 0;
	padding: 10px 0;
}

/* ----------banner2-------------------------------- */

.banner2 {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../pic/banner2_back.jpg") center/cover;
	padding: 70px 0 50px 0;
}

.banner2__header-block {
	margin: 0 0 73px 0;
}

.banner2__button {
	max-width: 370px;
	margin: 0 auto;
}

/* ----------contact----------------------- */
.contact {
	padding: 50px 0;
}

.contact__header-block {
	margin: 0 0 90px 0;
}

.contact__form {}

.form-contact {}

.form-contact__inputs {
	display: flex;
	justify-content: space-between;
	margin: 0 -15px;
	margin: 0 0 50px 0;
}

.form-contact__col {
	flex-basis: 50%;
	padding: 0 15px;
}

.form-contact__col .input:not(:last-child) {
	margin: 0 0 50px 0;
}

.form-contact__inp-message {
	height: 100%;
	resize: none; 
}

.form-contact__button {
	margin: 0 auto;
	max-width: 370px;
}

/* ----------footer--------------- */
.footer {
	background-color: #000;
	padding: 35px 0 27px 0;
}

.footer__inner {}

.footer__images {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 -16.5px;
	margin: 0 0 28px 0;
}

.footer__pic {
	padding: 0 16.5px;
}

.footer__text {
	color: rgba(255, 255, 255, 0.5);
	text-align: center;
}